    #barPesquisa {
      width: 100%;
    }

    .bar {
      max-height: 15em;
      height: 30rem;
      overflow-x: scroll;
      box-sizing: border-box;
      /*align-items: center;      background-color: #04AA6D;*/
      display: flex;
      gap: 10px;
    }

    .items {
      /*background-color: brown !important;*/
      max-height: 15em;
      overflow-x: scroll;
    }